.about-section {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.about-box {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.about-box>h2 {
  color: #212121;
  width: 200px;
  height: 50px;
  border: 4px solid #212121;
  margin: 40px auto;
}